.logo{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/petpet-week8/logo.svg);
    display: block;
    width: 121px;
    height: 55px;
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
}