
.homestayBanner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/petpet-week8/homestay-1.png?raw=true);
    width: 730px;
    height: 315px;
}

.mr-6 {
    @include media-breakpoint-down(md) { 
        margin-right: 0px !important;
     }
}

.swiper-container{
    @include media-breakpoint-down(md) { 
        display:none;
     }
}
.mobile{
    @include media-breakpoint-up(md) { 
        display:none;
     }
}

.cardComment{
    line-height: 1;
}
.star{
    font-size: 16px !important;
}

.footerNone{
    @include media-breakpoint-down(sm) { 
        display:none;
     }
}