.logo{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/petpet-week8/logo.svg);
    display: block;
    width: 121px;
    height: 55px;
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
}
.petBanner{
    background-image:  url(https://github.com/hexschool/webLayoutTraining1st/blob/master/petpet-week8/index-1.png?raw=true);
    display: block;
    width: 530px;
    height: 736px;
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
}